COCKPIT_INGEST_URL=https://cockpit.plenora.nl
COLLECTOR_ENVIRONMENT_ID=11111111-1111-4111-8111-111111111111
PLENORA_OBSERVER_ID=33333333-3333-4333-8333-333333333333
PLENORA_OBSERVER_TOKEN=
PLENORA_OBSERVER_RELEASE=
PLENORA_OBSERVER_POLL_SECONDS=60
PLENORA_MONITOR_DATABASE_URL=
DOCKER_GID=
PLENORA_NETWORK=plenora_default
OBSERVER_CONTAINER_CADDY=
OBSERVER_CONTAINER_FRONTEND=
OBSERVER_CONTAINER_BACKEND=
OBSERVER_CONTAINER_DB=
OBSERVER_CONTAINER_MAIL_WORKER=
